<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <system.serviceModel>

    <behaviors>
      <endpointBehaviors>
        <behavior name="CustomBehavior">
          <clientCredentials>
            <clientCertificate findValue="ClientCertificate" x509FindType="FindBySubjectName"
              storeLocation="CurrentUser" storeName="My" />
            <serviceCertificate>
              <authentication certificateValidationMode="PeerTrust"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IHelloWorld">
          <security mode="None" />
        </binding>
        <binding name="WSHttpBinding_IHelloWorld1">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IHelloWorld2">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IHelloWorld3">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    
    <client>
      <endpoint address="http://localhost:54439/Service/HelloWorld.svc"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IHelloWorld"
          contract="IHelloWorld" name="WSHttpBinding_IHelloWorld" />
      <endpoint address="https://localhost:44357/Service/HelloWorld.svc/Https"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IHelloWorld1"
          contract="IHelloWorld" name="WSHttpBinding_IHelloWorld1" />
      <endpoint address="https://localhost:44357/Service/HelloWorld.svc/Cert"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IHelloWorld2" behaviorConfiguration="CustomBehavior"
                contract="IHelloWorld" name="WSHttpBinding_IHelloWorld2" />
      <endpoint address="https://localhost:44357/Service/HelloWorld.svc/Windows"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IHelloWorld3"
                contract="IHelloWorld" name="WSHttpBinding_IHelloWorld3" />
    </client>
    
  </system.serviceModel>
</configuration>